# Ignore quartus files, except for the project and settings file.
/quartus/*
!/quartus/*.qpf
!/quartus/*.qsf
# Ignore the IP component and qip files
*.cmp
*.qip
# Ignore modelsim dir
/modelsim
# Ignore scripts (for now)
/scripts
# Ignore .mif (for now)
*.mif

cbx_args.txt
